<!DOCTYPE html>
<html>
  <head>
    <title>Ajuda4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <div class='nav navbar navbar-default' >
      <div class='container'>
        <div class='navbar-brand'>
          <%= link_to 'AjudaJusDesafio', root_path %>
        </div>
        <ul class='nav navbar-nav navbar-right'>
        <% if user_signed_in? %> 
            <%# Navbar caso login do User %>
            <li><%= link_to 'My Causes', causes_path %></li>
            <li><%= link_to 'New Cause', new_cause_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% elsif lawyer_signed_in? %>
            <% #Navbar caso login do advogado %>
            <li><%= link_to 'Account', edit_lawyer_registration_path %></li>
            <li><%= link_to 'Logout', destroy_lawyer_session_path, method: :delete %></li>
          <% else %>
            <% #Navbar caso inguem esteja logado %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class='container'>
        <%= yield %>
    </div>
  </body>
</html>
